# Dependency directories
node_modules/
.npm

# Build output
build/
dist/

# Testing
coverage/

# Temporary and backup files
temp_backup/
*.bak
*.tmp
*.backup

# System files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
.history/

# CLASP
.clasp.json
.clasprc.json

# Logs
*.log
npm-debug.log*

# Environmental variables
.env

# Zip files
*.zip